<%- include("partials/header") %>

<section id="recipeContainer">
    <h2>Thanks for joining our newsletter!</h2> 
    <p>Be sure to look for next weeks issue!</p> 
    <br>      
    <a href="/" class="button">&raquo; GO HOME</a>
</section>

  <%- include("partials/blog") %>

  <%- include("partials/newsletter") %>

  <%- include("partials/footer") %>
