<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="https://use.typekit.net/rau6bmr.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

</head>

<body>

    <h1 class="hidden">Welcome To Get Smokin'</h1>
    <section id="promo">
        <h2 class="hidden">PROMO</h2>
        <p>JOIN OUR MAILING LIST TODAY & GET 10% OFF MERCH!</p>
    </section>
    <header>
        <img src="/images/logo_v1.svg" alt="Get Smokin' logo" id="logo">
        <div>
            <nav id="mainNav">
                <h3 class="hidden">Main Navigation</h3>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="/api/recipes/all">RECIPES</a></li>
                </ul>
            </nav>
        </div>
    </header>

<main id="main">


    <h3><%= message %></h3>
    <h3><%= error.status %></h3>
    <h3>Oopsies, something went wrong :( lets go back and fix that</h3>


<%- include("partials/footer") %>
