<%- include('partials/header') %>
<%- include("partials/landing") %>

<section id="recipes">
    <h2>OUR RECIPES</h2>

    <div id="recipeBoxes">

  

        
    </div>
  

</section>

<%- include("partials/blog") %>
<%- include("partials/newsletter") %>
    </main>
        
    <footer>
        <p>DESIGNED & DEVELOPED BY GRAHAM VICKERS ©</p>
    </footer>
    <script src="/js/main.js"></script>
    <script src="/js/ajax_btns.js"></script>

    </body>
</html>
