<section id="blog">
    <h2>THE BLOG</h2>
    <p>
        We post weekly blogs about tips and tricks
         to mastering live fire cooking. Explore some our recent blogs…  
    </p>
    <a href="/api/posts/all" >&raquo; RECENT POSTS</a>
</section>