<section id="landing">
    <div id="landingCon">
        <h2>THE ART AND CRAFT BEHIND LIVE FIRE COOKING.</h2>
        <p>Cooking with a live fire heat source is a true craft to master and can be daunting 
            to new comers, but with my help I will make it a breeze.
            So grab a cold beer, some quality meat and let’s Get Smokin'!
        </p>
    </div>
    <img
        sizes="(max-width: 1200px) 100vw, 1200px"
        srcset="
        /images/brisket_ok9vse_c_scale,w_360.jpg 360w,
        /images/brisket_ok9vse_c_scale,w_704.jpg 704w,
        /images/brisket_ok9vse_c_scale,w_952.jpg 952w,
        /images/brisket_ok9vse_c_scale,w_1178.jpg 1178w,
        /images/brisket_ok9vse_c_scale,w_1200.jpg 1200w"
        src="/images/brisket_ok9vse_c_scale,w_1200.jpg"
        alt="Brisket"
    >
</section>