<section id="newsletter">
    <h2>WEEKLY NEWSLETTER</h2>
    <p>
        We send out weekly newsletters
         via email about what is new in the smoking and barbecue world. Join our mailing list TODAY!   
    </p>
    <a href="/signup">&raquo; SIGN UP NOW</a>
</section>